.menu-navigation {
    display: none;
}


.menu-navigation__opened {
    display: initial;
}

.menu-navigation__container {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    z-index: 1;
    background-color:  #ffffff;
}

@media screen and (min-width: 768px) {
    .menu-navigation__container {
        width: 520px;
    }
}

.menu-navigation__group {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 144px auto 0 auto;
    text-align: center;
    height: 500px;
}

@media screen and (min-width: 768px) {
    .menu-navigation__group {
        margin: 160px auto 0 auto;
        height: 590px;
    }
}



.menu-navigation__link {
    width: 300px;
    padding-bottom: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}



.menu-navigation__link_active {
 text-decoration: underline;
}

.menu-navigation__link-acc {
    margin-top: 9px;
    margin-left: 7px;
}

.menu-navigation__close {
    background-image: url("../../../images/Group.svg");
    width: 22px;
    height: 22px;
    background-position: center;
    background-color: transparent;
    outline:none;
    border: none;
    top: 19px;
    left: 277px;
    right: 0;
    position: absolute;
}

@media screen and (min-width: 768px) {
    .menu-navigation__close {
        top: 28px;
        left: 472px;
    }
}

.menu-navigation__link-style {
    text-align: center;
    margin: auto auto 0 auto;
    border-radius: 20px;
    background-color: #ffffff;
    width: 110px;
    height: 15px;
    font-size: 14px;
    line-height: 32px;
    color: #000000;
    box-shadow: 0 0px 13px rgb(0 0 0 / 22%);
}

@media screen and (min-width: 768px) {
    .menu-navigation__link-style {
        margin: auto auto 90px auto;
    }
}

.menu-navigation__link-acc {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.account__style {
    display: flex;
}

.header__profile-round {
    width: 26px;
    height: 26px;
    margin-top: 7px;
    margin-left: 7px;
    border-radius: 50%;
    background-color: #F9F9F9;
}

@media screen and (min-width: 1280px) {
    .header__profile-round {
        margin-top: 2px;
        margin-left: 5px;
    }
}

.header__profile-pic{
    width: 10.38px;
    height: 10.36px;
    margin-top: 7px;
    margin-left: 7px;
    background-image: url('../../../images/profilepic.svg');
    background-repeat: no-repeat;
}
