.header__image-round{
    border-radius: 50%;
    background-color: #F9F9F9;
    width: 26px;
    height: 26px;
    margin-top: 5px;
    margin-top: -30px;
    margin-left: 70px;
}

.header__profile-pic{
    background-image: url('../../images/profbutton.svg');
    width: 12px;
    height: 13px;
    border: none;
    background-repeat: no-repeat;
}