.movies-cardList {
    display: flex;
    justify-content: center;
}

.movies-cardList__container {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
}

.movies-cardList__div {
    border-top: solid 1px #E8E8E8;
}

@media screen and (min-width: 768px) {
    .movies-cardList__container {
        margin-top: 70px;
    }
}

@media screen and (min-width: 1280px) {
    .movies-cardList__container {
        margin-top: 70px;
    }
}

@media screen and (min-width: 767px) {
    .movies-cardList__card {
        display: grid;
        grid-template-columns: repeat(1, 708px);
        row-gap: 31px;
        column-gap: 28px;
    }
}

@media screen and (min-width: 320px) {
    .movies-cardList__card {
        display: grid;
        row-gap: 20px;
    }
}

@media screen and (min-width: 1280px) {
    .movies-cardList__card {
        grid-template-columns: repeat(1, 1140px);
        row-gap: 40px;
    }
}

.movies-cardList__button {
    background-color: #F9F9F9;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    padding: 0 0 0 0;
    margin: 34px auto 91px auto;
    max-width: 238px;
    height: 36px;
    border-radius: 3%;
    cursor: pointer;
    min-width: 238px;
    border: none;
}

@media screen and (min-width: 768px) {
    .movies-cardList__button {
        min-width: 320px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 1280px) {
    .movies-cardList__button {
        margin-top: 9px;
    }
}