

@media screen and (min-width: 767px) {
    .movies-cardList__card {
        display: grid;
        grid-template-columns: repeat(1, 708px);
        row-gap: 31px;
        column-gap: 28px;
    }
}

@media screen and (min-width: 320px) {
    .movies-cardList__card {
        display: grid;
        row-gap: 20px;
    }
}

@media screen and (min-width: 1280px) {
    .movies-cardList__card {
        grid-template-columns: repeat(1, 1140px);
        row-gap: 40px;
    }
}

